
.skolporten-job .header {
	margin-bottom: 10px;
}

.skolporten-job .icon {
	width: 120px;
	float: left;
}

.skolporten-job .icon img {
	width: 100px;
}


.skolporten-job .content {
	overflow: hidden;
}

.skolporten-job .title {
	overflow: hidden;
	float:left;
	max-width: 300px;
}

.skolporten-job .apply {
	float: right;
	width: 100px;
}

.skolporten-job .click {
	float: right;
	width: 50px;
}

.skolporten-job .post {
	margin-bottom: 30px;
}


.skolporten-job img {
	max-width: 100%;
}

.skolporten-job .post_url {
	text-decoration: none;
}

.skolporten-job .contract {
	text-decoration: none;
	margin-bottom: 10px;
}

