<div class="skolporten-job">

	Antal jobb är {{length}}

	<div class="header">
		<div class="icon">
			&nbsp;
		</div>
		<div class="content">
			&nbsp;
		</div>
		<div class="click">
			Klick
		</div>
		<div class="apply">
			Sista ansökan
		</div>
		<div style="clear: both"></div>
	</div>

	{{#posts}}
		<div class="post">

			<div class="icon">
				<img src="{{contract_icon_url}}" />
			</div>

			<div class="content">

				<div class="content_header">

					<div class="title">
						<h3 style="margin-top: 0px;">
							<a class="post_url" href="{{url}}" target="_blank">{{post_title}}</a>
						</h3>
					</div>
					<div class="click">
						{{click}}
					</div>
					<div class="apply">
						{{date_application}}&nbsp;
					</div>
					<div style="clear: both"></div>

				</div>

				<div class="contract">
					<a class="contract_url" href="{{contract_url}}">{{contract_title}}</a>
				</div>

				{{{post_content}}}

			</div>
			<div style="clear: both"></div>
		</div>
	{{/posts}}

</div>
